footer{
    grid-area: f;
    background-color: #303b44;
    color: white;
    font-weight: 300;
    height: 265px;
}
footer .logo a{
    width: 30%;
    height: 70px;
    margin-bottom: 25px;
}
footer .logo > .logo-capture{
    font-size: 21px;
    width: 300px;
    text-align: center;

    margin-bottom: 20px;
}
footer .logo > .copyright{
    font-size: 18px;
    opacity: 0.7;
}  
footer .logo{
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.subscribe p{
    width: 85%;

    font-weight: 300;
    font-size: 1.2em;

    margin-bottom: 25px;
    text-align: center;
}
.subscribe{
    display: flex;
    flex-direction: column;
}
.subscribe #e-mail{
    margin-bottom: 0.6em;
}

/* .social .social-btn img{
    width: 32px;
    height: 32px;

    margin-right: 5px;
    margin-bottom: 10px;
} */

.social {
    display: flex;
    justify-content: center;
     width: 150px; 
     height: 50px;
}

 .social .social-btn {
    display: inline-block; 
    /* margin-right: 5px; */
    /* margin-bottom: 10px;  */
    font-size: 0;
    
} 

.social-btn-vk {
    background-image: url('../img/social-media/VK.png');
    background-repeat: no-repeat;
    background-size: 32px 32px;
    transition: 0.3s;
}

.social-btn-vk:hover {
    background-image: url('../img/social-media/vk-32.png');
    transition: 0.5s;
}

.social-btn-tg {
    background-image: url('../img/social-media/Telegram 1.png');
    background-repeat: no-repeat;
    background-size: 32px 32px;
    transition: 0.3s;
}

.social-btn-tg:hover {
    background-image: url('../img/social-media/TG.png');
    transition: 0.5s;
}

.social-btn-git {
    background-image: url('../img/social-media/GitHub.png');
    background-repeat: no-repeat;
    background-size: 32px 32px;
    transition: 0.3s;
}

.social-btn-git:hover {
    background-image: url('../img/social-media/logo_github_icon_143196.png');
    transition: 0.5s;
}

.grid{
    display: grid;
    box-sizing: border-box;

    padding-top: 30px;
    padding-bottom: 15px;
    
    grid-template-columns: 1fr 2fr 1fr;
}

.subscribe #e-mail::placeholder {
    font-weight: 300;
    opacity: 0.6;
}
